<link rel="stylesheet" href="modules/category/category.css"/>
<!-- header componet -->
<header-component></header-component>
<!-- /header component -->
<div class="container container-body">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<h3 style="margin-bottom: 20px;color:#7e70a1;">Popular Categories</h3>
		</div>
	</div>
	<div class="row main-popular-grids">
		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="" href="">
                <img class="img-responsive" src="http://placehold.it/400x300" alt="">
            </a>
            <div class="well social-well">
            	<h4 class="text-center">Baby&Kids(12)</h4>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="" href="">
                <img class="img-responsive" src="http://placehold.it/400x300" alt="">
            </a>
            <div class="well social-well">
            	<h4 class="text-center">Furniture(16)</h4>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="" href="">
                <img class="img-responsive" src="http://placehold.it/400x300" alt="">
            </a>
            <div class="well social-well">
            	<h4 class="text-center">Recharge(2)</h4>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="" href="">
                <img class="img-responsive" src="http://placehold.it/400x300" alt="">
            </a>
            <div class="well social-well">
            	<h4 class="text-center">Food(12)</h4>
            </div>
        </div>
	</div>

	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<h3 style="margin-bottom: 20px;color:#7e70a1;">All Categories</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="order-list-alpha">
				<ul>
					<li ng-repeat="(key, val) in categoryAlphabet" ng-class="{'opacity-5': !val.array.length}"
                        ng-click="setSortkey(key, val)">
						{{ key }}
					</li>
					<div style="clear:both;"></div>
				</ul>
			</div>
		</div>
	</div>
	<div class="row main-popular-grids" style="margin-top:30px;">
		<div class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="item in categoryAlphabet[sorting.sorting].array">
            <a class="" href="">
                <img class="img-responsive" src="http://placehold.it/400x300" alt="">
            </a>
            <div class="well social-well">
            	<h4 class="text-center">{{ item.name }} ({{ item.count }})</h4>
            </div>
        </div>
	</div>

	<div class="row" style="margin:30px 0px;">
		<div class="col-lg-12 col-md-12">
			<div class="footer-brand-ulli">
				<ul>
					<li><a href="">See All Brands</a></li>
					<li><a href="">See All Stores</a></li>
					<li><a href="">See All Banks</a></li>
					<li><a href="">See All Brands</a></li>
					<li><a href="">See All Stores</a></li>
					<li><a href="">See All Banks</a></li>
					<li><a href="">See All Brands</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- footer directive -->
<footer-component></footer-component>