@font-face {
    font-family: Dosis-Bold;
    src: url('../fonts/Dosis-Bold.ttf');
}
@font-face {
    font-family: Dosis-Regular;
    src: url('../fonts/Dosis-Regular.ttf');
}
@font-face {
    font-family: Dosis-ExtraBold;
    src: url('../fonts/Dosis-ExtraBold.ttf');
}
@font-face {
    font-family: Dosis-ExtraLight;
    src: url('../fonts/Dosis-ExtraLight.ttf');
}
@font-face {
    font-family: Dosis-Light;
    src: url('../fonts/Dosis-Light.ttf');
}
@font-face {
    font-family: Dosis-Medium;
    src: url('../fonts/Dosis-Medium.ttf');
}
@font-face {
    font-family: Dosis-SemiBold;
    src: url('../fonts/Dosis-SemiBold.ttf');
}
body {
    background-color: #f3f3f3;
    font-family: Dosis-Medium;
    margin: 0 auto !important;
}
h2, h3, h4 {
    font-family: Dosis-Medium;
}
.margin-20 {
    margin: 20px 0;
}
.margin-top-0 {
    margin-top: 0;
}
.pad-0 {
    padding: 0;
}
.pad-left-0 {
    padding-left: 0;
}
.pad-right-0 {
    padding-right: 0;
}
.font-bold {
    font-weight: bold;
}
.icon-addon {
    position: relative;
}
.icon-addon label {
    position: absolute;
    top: 7px;
    right: 10px;
    color: #a09f9f;
}
.breadcrumb {
    background-color: inherit !important;
}
.border-0 {
    border: 0px solid #FFFFFF;
}
.social-icons i{
    background-color: #000000;
    color: #FFFFFF;
    min-width: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 32px;
    padding: 5px 12px;
    margin-right: 5px;
    cursor: pointer;
}

/* for styled checkboxes and radio buttons */


.checkbox label, .radio label {
	padding-left: 0 !important;
	min-height: 25px !important;
	line-height: 20px;
}
.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: 3px;
    width: 1.2em;
    height: 1.2em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .7em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(2) rotateZ(-10deg);
    opacity: 0;
    transition: all .2s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .3;
}
/* enf of styled checkboxes and radio buttons */

/* check-box-filter-area */
.check-box-filter-area {
    max-height: 200px;
    overflow: hidden;
}
.check-box-filter-area:hover {
    overflow-x: hidden;
    overflow-y: scroll;
}
/* /check-box-filter-area */