<!-- header -->
<header-component></header-component>
<!-- end header -->

<!-- container starts -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li class="active">Data</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h3 class="store-heading">Browse All Stores</h3>
        </div>
    </div>

    <!-- panel starts -->
    <div class="panel panel-default">
        <div class="panel-heading" style="height: 60px;">
            <p style="width: 20px; float: left; padding: 10px 20px;" ng-click="scrollToPosition(key)" 
                ng-repeat="(key, val) in storeAlphabet" ng-if="val.array.length">
                <a href="">{{ key }}</a>
            </p>
        </div>
        <div class="panel-body">
            <div class="row" id="store_by_key_{{ key }}" ng-if="val.array.length" ng-repeat="(key, val) in storeAlphabet">
                <div class="col-lg-12">
                    <h4>{{ key }}</h4>

                    <p style="width: 20px; float: left; padding: 10px 20px;" ng-repeat="item in val.array">
                        <a href="">{{ item.name }}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end container -->