.forgot_bg{
	background-color: #ffffff;
}

.btn_next{
	width:100%;
	background-color: #3F639E;
    color: #fff;
    font-weight: bold;
}
.login_link{
	font-size: 13px !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}