body{
	background-color: #ffffff;
}
#flipkart-navbar {
    background-color: #2f1231;
    color: #FFFFFF;
}
.row2 {
    padding: 2% 0;
}
/*navbarcss*/
.navbar,
.navbar-default .navbar-nav {
	background-color: #fcfcfc; !important;
	border:none;
	margin-bottom: 0;
}
.navbar-default .navbar-nav>li>a {
    background-color: #fcfcfc; !important;
    color: black;
    border-left:1px solid #f1f1f1;
    font-weight: bold;
    font-size: 18px;
}
.navbar-default .navbar-nav>li>a:last-child,.navbar-default .navbar-nav>li>a:hover:last-child{
	border-right: 1px solid #f1f1f1;
}
.navbar-default .navbar-nav>li>a:hover {
    background-color: #ffffff; !important;
    color: red;
    border:none;
    font-weight: bold;
    border-left:1px solid #f1f1f1;
    font-size: 18px;
}
.btn_1{
	background: none;
	padding: 0;
}
.btn_1:hover{
	color:red;
}
.btn{
	border-radius: 4px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
     background: none !important;
    }
/*navbarcss end*/
.cont_back{
	background-color: #f0f0f0;
}
.footer{
	display: none;
}
.cont_pad{
	padding: 0px;
}
.panel-body ul{
	margin: 0 17%;
}
.panel-body ul li{
	float: left;
	padding: 0px 30px 0px 0;
}
.panel-body ul li:first-child{
	list-style: none;
}
.lite_yellow{
	color: #f7c773;
	font-weight: bold;
}
.blue_txt{
	color:#a7b8e0;
}
.h3_txt {
    margin-top: 0;
    font-size: 39px;
    margin-left: -9%;
}
.panel_pad{
	padding: 15px 70px;
}
.line_hight{
	line-height: 30px;
}
.mar_top{
	margin-top: 3%;
}
.red_li{
	color:#dd4b39;
	font-size: 14px;
	margin: 0px 0 0 -5% !important;
}
.red_li li{
	list-style: none;
	padding: 0 14px 0 0 !important;
	font-weight: bold;
}
.social_icons{
	margin: 6px 0 10% -5% !important;
}
.social_icons li{
	list-style: none;
	padding: 0 5px 0 0 !important;
	font-weight: bold;
}
.btn_social{
	padding: 5px 55px;
	font-size: 25px;
}
.panel{
	border:none;
	-webkit-box-shadow:none;
    box-shadow:none;
    margin-bottom: 0;
}
.fa_btn{
	background-color: #45619c;
	border-color:#45619c;
	color:#ffffff;
}
.tw_btn{
	background-color: #00acee;
	border-color:#00acee;
	color:#ffffff;
}
.gg_btn{
	background-color: #dd4b39;
	border-color:#dd4b39;
	color:#ffffff;
}
.orkut_btn{
	background-color: #bd1e23;
	border-color:#bd1e23;
	color:#ffffff;
}
.in_btn{
	background-color: #1d87bd;
	border-color:#1d87bd;
	color:#ffffff;
}
.img_back{
	background-color: #ffffff; 
	padding: 0;
}
.row_mar{
	margin:0;
}
.pan_body{
	padding: 0;
}
.row_env{
	background-color: #ca85ca;
	margin: 0;
}
.env_txt {
    background-color: #f9f9f9;
    margin: 0% -16% 0% -6%;
    padding: 10% 7%;
}
.row_fashion{
	background-color: #e54e7e;
	margin: 0;
}
.fashion_txt {
    background-color: #f9f9f9;
    margin: 0% -16% 0% -6%;
    padding: 10% 7%;
}
.row_food{
	background-color: #61c436;
	margin: 0;
}
.food_txt {
    background-color: #f9f9f9;
    margin: 0% -16% 0% -6%;
    padding: 10% 7%;
}
.row_lifestyle{
	background-color: #f4b23f;
	margin: 0;
}
.lifestyle_txt {
    background-color: #f9f9f9;
    margin: 0% -16% 0% -6%;
    padding: 10% 7%;
}
.p_txt{
	text-align: center;
	margin:20px 0 0 10px;
}
.catagory {
    font-size: 20px;
    text-align: center;
    padding: 2% 0% 0%;
}
.lat_blog {
    font-size: 17px;
    font-weight: bold;
    color: #7e70a1;
    padding: 2% 0 0 3%;
}
.col_3_border_top{
    border-top: 1px solid white;
    margin-top: -1%;
    padding-top: 1%;
}
.blogs{
	background-color: #f9f9f9;
	font-weight: bold;
	color:#333333;
	font-size: 12px;
	padding: 1%;
	margin-bottom: 8%;
}
.blogs_inner{
	background: #ffffff;
	margin: 2% 2% 7%;
}
.entertain_txt{
	font-size: 14px;
	color:#ce92d1;
	margin:1% 0 0;
}
.pad_right{
	padding-right: 0;
}
.row2_1{
	padding: 1% 0 1% 0;
	margin-left:1%;
}
.about_author{
    font-weight: bold;
    font-size: 18px;
}
.panel_author_back{
	background-color: #f9f9f9;
}
.about_author_para{
	font-size: 17px;
}
.fav_icons{
    margin: 1% 0 0 0;
    font-size: 16px;
}
.fa_1{
	padding-right: 12px;
	color: #858585;
}
.panel_foot{
	background-color: #f3f3f3;
}
.panel_1 {
    border: 1px solid transparent;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
   	border-color: #dddddd;
}
.blog2_back{
	background-color: #ffffff;
	margin: 1% 1% 0;
	padding:2%;
}
.panel_body{
	background-color: #f9f9f9;
	padding: 15px 15px 0;
}
.test_txt{
	color:#db7a68;
	font-size: 18px;
	font-weight: bold;
}
.reply_btn{
	background-color: #ffffff;
	color:#db7a68;
	border:2px solid #db7a68;
	border-radius: 4px;
	padding: 1% 3%;
}
.reply_btn:hover{
	color:black;
}